services:
  bieristo_tools:
    labels:
      traefik.enable: "true"
      traefik.http.routers.bieristo_tools-http.entrypoints: "http"
      traefik.http.routers.bieristo_tools-http.rule: "Host(`tools.bieristo.local`)"
      traefik.http.middlewares.bieristo_tools-https.redirectscheme.scheme: "https"
      traefik.http.routers.bieristo_tools-http.middlewares: "redirect@file"
      traefik.http.routers.bieristo_tools-https.entrypoints: "https"
      traefik.http.routers.bieristo_tools-https.rule: "Host(`tools.bieristo.local`)"
      traefik.http.routers.bieristo_tools-https.tls: "true"
networks:
  web:
    external: true
