APP_URL='https://bieristo.local/'

MONGO_HOST=bieristo_tools_mongodb
MONGO_DBNAME=bieristo
MONGO_USER=bieristo
MONGO_PASSWORD=bieristo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_PORT=27017

SMTP_HOST=
SMTP_PORT=587
SMTP_PROTOCOL=tcp
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=
SMTP_SENDER_LABEL=
